.componente2{
    border-radius: 10px;
  align-items: center;
  margin: 10px 10px;
     width: 140px-;
      border: 1px solid black;
}
.listado{  
  margin: 10px ;
    font-size: 15px;
}
.titulo{
    font-size: 15px;
    margin: 0px 10px;
}